@use "../../styles/layers";
@use "../../styles/control";

@layer components {
  .nuv-password-input {
    inline-size: var(--nuv-password-input-width, 100%);

    @include control.group("password-input", "> .nuv-password-input__control");
  }

  .nuv-password-input__control {
    padding-block: 0;
    padding-inline: calc(var(--spacing) * 3) calc(var(--spacing) * 2);
    color: inherit;

    @include control.group-field;
    @include control.text("password-input");
    @include control.placeholder("password-input");
  }

  .nuv-password-input__toggle {
    @include control.group-button("password-input");
  }
}
